@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

// Geral
$accent-color: #3b82f6;
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-code: "Roboto Mono", monospace;

// Tema Dark
$primary-color-dark: #f0f0f0;
$secondary-color-dark: #121212;
$text-color-dark: #f0f0f0; 

// Tema Light
$primary-color-light: #272727; 
$secondary-color-light: #f0f0f0;
$text-color-light: #333333; 