@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

// Geral
$accent-color: #3b82f6;
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-code: "Roboto Mono", monospace;

// Tema Dark
$primary-color-dark: #f0f0f0; // cor do texto, links etc
$secondary-color-dark: #121212; // fundo escuro
$text-color-dark: #f0f0f0; // texto claro

// Tema Light
$primary-color-light: #272727; // texto escuro, links etc
$secondary-color-light: #f0f0f0; // fundo claro
$text-color-light: #333333; // texto escuro