@use './reset';

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: block;
}

body.dark {
  background-color: $secondary-color-dark;
  color: $text-color-dark;
  
  a {
    color: $primary-color-dark;
  }
  
}

body.light {
  background-color: $secondary-color-light;
  color: $text-color-light;
  
  a {
    color: $primary-color-light;
  }
  
}

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}